body {
  background-color: LightSteelBlue;
}

h1 {
color: navy;
margin-left: 20px;
}

div {
  background-color: AliceBlue;
}

p {
  color: MidnightBlue;
}

table, th, td {

  border:2px solid RebeccaPurple;
}


